<section id="contact">
    <div class="services-info">
        <h1>Get in<span id="blue">Touch</span></h1>
        <p> We are Available</p>
    </div>

    <div class="contact-row">
        <div class="contact-left-col">
            <div class="form">
                <input type="text" name="" placeholder="E-mail">
                <input type="text" name="" placeholder="Subject"><br>
                <textarea rows="10" cols="40" placeholder="Message">
                </textarea>
                <br>
                <button class="c_btn">
                    Send
                </button>
            </div>
        </div>

        <div class="contact-right-col">
            <h1>
                <i class="fa fa-envelope" aria-hidden="true"></i> E-mail
            </h1>
            <p>geek@gmail.com</p><br>
            <h1>
                <i class="fa fa-phone" aria-hidden="true"></i> Mobile
            </h1>
            <p>8212341487, 9080140989</p>
            <br>
            <h1>
                <i class="fa fa-location-arrow" aria-hidden="true"></i> Address
            </h1>
            <p> Noida Sector 136<br>
                Metro Pillar- 237
            </p>
        </div>
    </div>
</section>
